{% load bootstrap3 %}
{% bootstrap_css %}

{% bootstrap_javascript %}
{% bootstrap_messages %}
<html>

{% include "nav.html" %}

<body>

<div class="container">
<div class="panel panel-default">
<div class="panel-heading">get keys</div>
<div class="panel-body">

 {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    <form action="" method="post" >
        <table class="table table-condensed">
            {{ form.as_table }}
            {% csrf_token %}
        </table>
        <input type="submit" value="Submit">
    </form>

 {% if nokeys %}
        <p style="color: red;">
			no keys or cannot connect the host
        </p>
    {% endif %}
    {% if keys %}
        <table border="1" class="table table-condensed">
    {% for key in keys %}
        <tr>
                <th>{{ key }} </th>
        </tr>
    {% endfor %}
    </table>
    {% endif %}

</body>
</div>
</html>
