{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<html>

{% include "nav.html" %}

<div class="container">
<div class="jumbotron">
  <h1>宅米CMDB系统</h1>
  <p>欢迎来到宅米cmdb系统，这里你可以查看所有主机列表和相关信息。</p>
  <p><a class="btn btn-primary btn-lg" href="/main/list" role="button">机器列表</a></p>
  <p><a class="btn btn-primary btn-lg" href="/main/out" role="button">导出机器列表csv格式</a></p>
  <p><a class="btn btn-primary btn-lg" href="/main/output_data_txt" role="button">导出机器外网ip列表txt格式</a></p>
  <p><a class="btn btn-primary btn-lg" href="/main/apply" role="button">申请机器</a></p>
  <p><a class="btn btn-primary btn-lg" href="/main/getkeys" role="button">获取主机keys</a></p>
  <p><a class="btn btn-primary btn-lg" href="/main/keylist" role="button">keys列表</a></p>
  <p><a class="btn btn-primary btn-lg" href="/admin" role="button">后台管理</a></p>
</div>


</div>


</div>
</html>
