{% load bootstrap3 %}
{% bootstrap_css %}

{% bootstrap_javascript %}
{% bootstrap_messages %}
<html>

{% include "nav.html" %}

<body>

<div class="container">
<div class="panel panel-default">
<div class="panel-heading">Key List</div>
<div class="panel-body">
	<p>there are {{ keys|length }} keys in cmdb </p>
</div>
<table border="1" class="table table-condensed">
<tr>
<th>key shortname</th>
<th>key info</th>
<th>key</th>

</tr>
{% for k in keys %}
        <tr>
                <th>{{ k.key_shortname }} </th>
                <th>{{ k.key_info }} </th>
                <th>{{ k.key }} </th>
        </tr>
{% endfor %}
</table>
</body>
</div>
<p><a class="btn btn-primary btn-lg" href="/admin/main/publickey/add/" role="button">add key</a></p>
</html>
