{% load bootstrap3 %}
{% bootstrap_css %}

{% bootstrap_javascript %}
{% bootstrap_messages %}
<html>

{% include "nav.html" %}

<body>

<div class="container">
<div class="panel panel-default">
<div class="panel-heading">Host List</div>
<div class="panel-body">
	<p>there are {{ hosts|length }} hosts in cmdb </p>
</div>
<table border="1" class="table table-condensed">
<tr>
<th>hostname</th>
<th>eth0</th>
<th>eth1</th>
</tr>
{% for host in hosts %}
{% if host.ismonitor %}
        <tr class="success">
                <th>{{ host.hostname }} </th>
                <th>{{ host.eth0 }} </th>
                <th>{{ host.eth1 }} </th>
        </tr>
{% else %}
        <tr>
                <th>{{ host.hostname }} </th>
                <th>{{ host.eth0 }} </th>
                <th>{{ host.eth1 }} </th>
        </tr>
{% endif %}
{% endfor %}
</table>
<p><a href="/main/zabbix/" >点击更新 </a> </p>

</body>
</div>
</html>
