<ul class="nav nav-tabs">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/main/list">机器列表</a></li>
  <li role="presentation"><a href="/main/alilist">阿里云机器列表</a></li>
  <li role="presentation"><a href="/main/apply">申请机器</a></li>
   <li role="presentation"><a href="/main/getkeys">获取key</a></li>
   <li role="presentation"><a href="/main/keylist">key列表</a></li>
{% if request.user.is_authenticated %}
  <li role="presentation"><a href="/main/logout">{{ request.user }} 已登录,登出请点击</a></li>
{% else %}
  <li role="presentation"><a href="/main/login">未登录</a></li>
{% endif %}
  <li role="presentation"><a href="/admin">后台登陆</a></li>
</ul>
